[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

key_buffer_size = 64M
innodb_buffer_pool_size = 256M

log_error = /var/log/mysql/error.log
general_log = ON
general_log_file = /var/log/mysql/general.log

skip-networking